.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
  /* list-style-type: none;
    margin-left: auto; */
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.restaurant-containers {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.restaurant-card :hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  border: 1px solid black;
  width: 200px;
  height: 30px;
  margin: 10px;
}

.restaurant-logo {
  /* border: 1px solid black; */
  width: 100%;
  height: 150px;
  object-fit: contain;
  background-color: #fff;
}